/* Global Reset */
body, h1, h2, h3, p, ul, li, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Buttons */
  button {
    border: none;
    cursor: pointer;
  }
  
  .btn {
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0056b3 !important;
  }
  